@model Project.Models.SanPham
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailProduct</h2>
<h1>Ma sp:@Model.ProductId</h1>
<h1>Ten sp:@Model.ProductName</h1>

