@model Project.Models.SanPham
@{
    ViewBag.Title = "GetProductById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetProductById</h2>

<h2>@Model.ProductId</h2>
<h2>@Model.ProductName</h2>

